[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mpi4py = "~=3.1"
click = "~=8.1"

[dev-packages]
pytest = "~=7.4"
coverage = "~=7.3"

[requires]
python_version = "3.11"
